In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data1 = pd.read_csv("deliveries.csv")
data2 = pd.read_csv("matches.csv")

In [3]:
data1.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [6]:
data2.head(5)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [8]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [9]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [10]:
data1.loc[data1['player_dismissed'].isnull() & data1['fielder'].notnull()]

Empty DataFrame
Columns: [match_id, inning, batting_team, bowling_team, over, ball, batsman, non_striker, bowler, is_super_over, wide_runs, bye_runs, legbye_runs, noball_runs, penalty_runs, batsman_runs, extra_runs, total_runs, player_dismissed, dismissal_kind, fielder]
Index: []

[0 rows x 21 columns]

In [11]:
## get randome sample
def get_random_sample(df, block_size=6):
    start = np.random.randint(low=0, high=len(df)-block_size)
    return df.iloc[start:start+block_size:]

In [12]:
print(get_random_sample)

<function get_random_sample at 0x000000EED3EB6678>

In [14]:
for col in data1.columns:
    print(col)

match_id
inning
batting_team
bowling_team
over
ball
batsman
non_striker
bowler
is_super_over
wide_runs
bye_runs
legbye_runs
noball_runs
penalty_runs
batsman_runs
extra_runs
total_runs
player_dismissed
dismissal_kind
fielder

In [15]:
data1['team_score'] = data1.groupby(['match_id','inning'])['total_runs'].cumsum()

In [16]:
get_random_sample(data1).head(10)[['match_id','batsman','over','ball','team_score']]

       match_id    batsman  over  ball  team_score
38814       166   SK Raina     7     5          62
38815       166  GJ Bailey     7     6          63
38816       166   SK Raina     7     7          67
38817       166  GJ Bailey     8     1          69
38818       166  GJ Bailey     8     2          70
38819       166   SK Raina     8     3          71

In [18]:
data1[(data1['match_id']==1)&(data1['inning']==1)
     &(data1['over']==20)&(data1['ball']==6)]['team_score']

124    207
Name: team_score, dtype: int64

In [19]:
data1['out'] = data1['player_dismissed'].notnull()
data1['wicket_fallen'] = data1.groupby(['match_id','inning'])['out'].cumsum()

In [20]:
get_random_sample(data1).head(10)[['match_id','batsman','over','ball',
                                   'team_score','player_dismissed','wicket_fallen'
                                  ]]

,match_id,batsman,over,ball,team_score,player_dismissed,wicket_fallen
171038,11317,S Dhawan,14,5,128,NaN,2.0
171039,11317,RR Pant,14,6,132,NaN,2.0
171040,11317,S Dhawan,15,1,132,NaN,2.0
171041,11317,S Dhawan,15,2,136,NaN,2.0
171042,11317,S Dhawan,15,3,137,NaN,2.0
171043,11317,RR Pant,15,4,139,NaN,2.0

In [21]:
data1[(data1['match_id']==1)&(data1['inning']==1)
     &(data1['over']==20)&(data1['ball']==6)]['wicket_fallen']

124    4.0
Name: wicket_fallen, dtype: float64